<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }} ! <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesion<i class="fa fa-sing-out"></i></a></p>
g        </div>
    </div>
</div>
