<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col">
            <p class="text-end"><span>Hola {{ usuario }} ! </span><a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesion<i class="fa fa-sing-out"></i></a></p>
        </div>
    </div>
</div>
